@page "{id:int}"
@model TechSkillConnect.Pages.Admin.Transactions.DetailsModel

@{
    ViewData["Title"] = "Transaction Details";
}

<h1>Transaction Details</h1>

<div>
    <h4>Subscription Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Transaction.Payment_timestamp)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Transaction.Payment_timestamp)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Transaction.Sub_start_date)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Transaction.Sub_start_date)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Transaction.Sub_end_date)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Transaction.Sub_end_date)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Transaction.Sub_status)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Transaction.Sub_status)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Transaction.Sub_Fee)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Transaction.Sub_Fee)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Transaction.PaymentID)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Transaction.PaymentID)</dd>

        <dt class="col-sm-3">Tutor Email</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Transaction.Tutor.TutorEmail)</dd>
    </dl>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Transaction.TransactionID" class="btn btn-warning">Edit</a> |
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
